<!-- -*- mode: XML -*- -->

<launch>
  <!-- 引数 -->
  <!--   RVIZ を起動するか -->
  <arg name="RUN_RVIZ" default="false"/>
  <!--   rqt_reconfigure を起動するか -->
  <arg name="RUN_RECONFIGURE_GUI" default="false"/>
  <!--   ps3_teleop を起動するか -->
  <arg name="RUN_PS3JOY" default="false"/>

  <!-- 本体 -->
  <!--   turtlebot関係 -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="3d_sensor" default="kinect" />
  </include>
  <include file="$(find dxl_armed_turtlebot)/launch/turtlebot_joystick_teleop.launch"
           if="$(arg RUN_PS3JOY)"/>
  <!-- <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch"/> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/robot.rviz" respawn="true"
        if="$(arg RUN_RVIZ)"/>
  <!--   アームの起動 -->
  <include file="$(find dynamixel_7dof_arm)/launch/dynamixel_7dof_arm_bringup.launch"/>
  <!--   温度の表示プログラム -->
  <node name="thermo_speaker" pkg="roseus"
        type="roseus" args="$(find dynamixel_7dof_arm)/euslisp/thermo-speaker"
        output="screen" respawn="true"/>
  <!--   その他 -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"
        if="$(arg RUN_RECONFIGURE_GUI)" respawn="true"/>
</launch>
