<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_file" default="$(find dxl_armed_turtlebot)/worlds/empty.world" />
  <arg name="model" value="$(find dxl_armed_turtlebot)/urdf/robot.urdf.xacro"  />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  <node name="cmd_vel_renamer" pkg="topic_tools" type="relay"
        args=" /cmd_vel /mobile_base/commands/velocity" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dxl_armed_turtlebot)/config/dxl_armed_turtlebot.rviz"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        respawn="false" output="screen"
        args="-x 0.0 -y 0.0 -z 0.01 -unpause -urdf -model dxl_armed_turtlebot
              -param robot_description" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <!-- load the controllers -->
  <rosparam file="$(find dxl_armed_turtlebot)/config/dxl_armed_turtlebot_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen"
        args="joint_state_controller
              trajectory_controller
              "/>
  <!-- send tuck pose -->
  <node name="tuck_arm" pkg="dxl_armed_turtlebot" type="tuck_arm.py" args="-t" />
</launch>
