<launch>
  <node name="$(anon cmd_vel_renamer)" pkg="topic_tools" type="relay"
        args=" /cmd_vel /cmd_vel_mux/input/teleop" />

  <arg name="joy_dev" default="/dev/input/js0" doc="device file name for joystick"/>
  <arg name="joy_bluetooth" default="true" doc="joystick connection is bluetooth or not (wired)"/>
  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
  <include file="$(find turtlebot_teleop)/launch/includes/velocity_smoother.launch.xml"/>

  <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
    <param name="scale_angular" value="0.5"/>
    <param name="scale_linear" value="0.1"/>
    <param name="axis_deadman" value="10"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
    <remap from="turtlebot_teleop_joystick/cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick">
    <param name="dev" type="string" value="$(arg joy_dev)" />
    <remap unless="$(arg joy_bluetooth)" from="joy" to="joy_ps3" />
  </node>

  <group unless="$(arg joy_bluetooth)">
    <node name="joy_remap" pkg="joy" type="joy_remap.py" output="screen" >
      <remap from="joy_in" to="joy_ps3" />
      <remap from="joy_out" to="joy" />
      <rosparam command="load" file="$(find joy)/config/ps3joy.yaml" />
    </node>
  </group>

</launch>
