<launch>
  <arg name="camera_name" default="camera" />
  <arg name="rgb" value="color" />
  <arg name="queue_size" default="30" />
  <arg name="manager" default="/$(arg camera_name)/realsense2_camera_manager" />

  <group ns="$(arg camera_name)" >
    <group ns="$(arg rgb)" >
      <node name="apriltag_ros_continuous_node"
            pkg="nodelet" type="nodelet"
            args="load apriltag_ros/ContinuousDetector $(arg manager)"
            clear_params="true"
            output="screen" >
        <remap from="image_rect" to="image_raw" />
        <remap from="camera_info" to="camera_info" />

        <param name="publish_tag_detections_image" type="bool" value="true" />
        <param name="queue_size" type="int" value="$(arg queue_size)" />
        <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" />
        <rosparam command="load" file="$(find jedy_bringup)/config/tags.yaml" />
      </node>
    </group>
  </group>

</launch>
