<launch>

  <arg name="camera" default="camera"
       doc="namespace of input topics" />
  <arg name="to_camera" default="remote"
       doc="namespace of republished topics" />
  <arg name="rgb" default="color"
       doc="namespace of rgb topics" />
  <arg name="depth" default="depth"
       doc="namespace of depth topics" />
  <arg name="depth_registered" default="aligned_depth_to_color"
       doc="namespace of depth_registered topics" />
  <arg name="depth_registered_filtered" default="aligned_depth_to_color" />
  <arg name="use_throttled_image" default="false" />
  <arg name="depth_registration" default="true" />
  <arg name="queue_size" default="5" />

  <arg unless="$(arg use_throttled_image)"
       name="throttled" value="" />
  <arg if="$(arg use_throttled_image)"
       name="throttled" value="/throttled" />

  <node name="camera_register"
        pkg="nodelet" type="nodelet"
        args="standalone depth_image_proc/register"
        clear_params="true">
    <remap from="rgb/camera_info"   to="/remote/color/camera_info"/>
    <remap from="depth/camera_info" to="/remote/depth/camera_info"/>
    <remap from="depth/image_rect"  to="/remote/depth/image_rect_raw"/>

    <remap from="depth_registered/image_rect"  to="/remote/aligned_depth_to_color/image_raw"/>
    <remap from="depth_registered/camera_info"  to="/remote/aligned_depth_to_color/camera_info"/>
  </node>

  <!-- publishing is delayed because the computation load of png's compression processing
       is too large for the default compression ratio. As a result,
       it is inferred that synchronization problems occur when creating point clouds. -->
  <group ns="$(arg to_camera)" >
    <group ns="$(arg depth)" >
      <group ns="image_rect" >
        <param name="compressed/format" value="png" />
        <param name="compressed/png_level" value="1" />
        <param name="compressedDepth/png_level" value="1" />
      </group>
      <group ns="image_rect_raw" >
        <param name="compressed/format" value="png" />
        <param name="compressed/png_level" value="1" />
        <param name="compressedDepth/png_level" value="1" />
      </group>

      <node name="relay_info"
	          pkg="topic_tools" type="relay"
	          args="/$(arg camera)/$(arg depth)/camera_info$(arg throttled)
	                camera_info">
      </node>
      <node name="republish_imnage"
            pkg="image_transport" type="republish"
	          args="compressedDepth raw">
        <remap from="in" to="/$(arg camera)/$(arg depth)/image_rect_raw$(arg throttled)"/>
        <remap from="out" to="image_rect_raw" />
      </node>
    </group> <!-- end of $(arg depth) ns -->
    <group ns="$(arg rgb)" >
      <node name="relay_info"
	          pkg="topic_tools" type="relay"
	          args="/$(arg camera)/$(arg rgb)/camera_info$(arg throttled)
	                camera_info">
      </node>

      <node name="republish_image"
            pkg="image_transport" type="republish"
	          args="compressed raw" >
        <remap from="in" to="/$(arg camera)/$(arg rgb)/image_raw$(arg throttled)" />
        <remap from="out" to="image_raw" />
      </node>
    </group> <!-- end of $(arg rgb) ns -->
  </group> <!-- end of camera ns -->

  <include file="$(find jedy_bringup)/launch/openni2.launch">
    <arg name="camera" value="$(arg to_camera)" />
    <arg name="publish_tf" value="false" />
    <arg name="load_driver" value="false" />
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <arg name="depth" value="$(arg depth)" />
    <arg name="rgb" value="$(arg rgb)" />
    <arg name="depth_registered" value="$(arg depth_registered)" />
    <arg name="depth_registered_filtered" value="$(arg depth_registered_filtered)" />
    <arg name="depth_processing" value="false" />
    <arg name="queue_size" value="$(arg queue_size)" />
  </include>

</launch>
