<launch>

  <arg name="debug_view" value="true" />

  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam">
    <param name="framerate" value="10"/>
    <param name="pixel_format" value="yuyv"/>
  </node>

  <include file="$(find opencv_apps)/launch/face_detection.launch">
    <arg name="image" value="/usb_cam/image_raw"/>
    <arg name="debug_view" value="$(arg debug_view)"/>
    <!-- maybe it is correct to setting use_opencv4 arg but it does not work in face_detection.launch -->
    <arg name="face_cascade_name" value="/usr/share/opencv4/haarcascades/haarcascade_frontalface_alt.xml" />
    <arg name="eyes_cascade_name" value="/usr/share/opencv4/haarcascades/haarcascade_eye_tree_eyeglasses.xml" />
  </include>
    
</launch>
