<launch>

  <rosparam command="load" file="$(find kx_pr2_bringup)/config/kx_pr2_diff_drive_controller.yaml" />

  <node name="diff_drive_controller_spawner"
        pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="diff_drive_controller" >
  </node>

</launch>
